*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'rubik mono one', sans-serif;
}
/* menù */
ul{
    list-style-type: none;
}
ul li{
    display: inline-block;
}
nav li a{
    width: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    background-color: white;
    border-radius: 50px;
    text-decoration: none;
    color: #000;
    margin: 0 20px; 
}

ul li a:hover{
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.589);
}
nav{
    position: absolute;
    top: 50px;
    right: 10px;
    z-index: 3;
    position: fixed;
}
/* sfondo varie scarpe */
#scarpa1{
    position: relative;
    height: 100vh;
    background-color: rgb(197, 0, 0);
}
#scarpa2{
    height: 100vh;
    background-color: rgb(0, 145, 0);
}
#scarpa3{
    height: 100vh;
    background-color: rgb(206, 206, 0);
}
/* colore scitte */
#scarpa1 .schermata h1{
    color: yellow;
}
#scarpa2 .schermata h1{
    color: yellow;
}
#scarpa3 .schermata h1{
    color: rgb(0, 145, 0);
}
/* centro scritte */

section{
    position: relative;
}
section .schermata{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.schermata h1{
    font-size: 50px;
    text-align: center;
}